$lineChart-container: '#single-line-chart, #multiple-line-chart';
body {
  font-family: 'Roboto Slab', serif;
  // font-family: 'Open Sans', sans-serif;  
}

h1,h2,h3 {
  font-family: 'Roboto Slab', serif;
}

.footer {
  padding-top:40px;
  color: #696969
}

#header {
  text-align:center;

  h1,h2,h3 {
    padding: 0px;
    margin: 0px;
  }
  h3 {
    padding-bottom: 10px;
  }


}

.region {
  text-align: center;
  margin-top: 50px;
  // height: 450px;
}

/* #{$lineChart-container} {*/
.chart {
  
  .title {
    text-align: center;
    height: 50px;
  }

  span.green {
    background-color: lighten(#00ff80,30%);
  }

  span.pink {
    background-color: lighten(#ff00ff,30%);
  }
  
  // width: 100%;
  // max-width:500px;
  width: 25%;
  height: 300px;
  float: left;
  
  &.large {
    width: 50%;
    // height: 500px;
  }

  &.diff {
    width: 100%;
    height: 500px;

    .x.axis {
      path {
        display: block;
        stroke-width: 2px;
        stroke: #333;
      }
    }

  }

  @media screen and (max-width: 700px) {
      width: 50%;
      height: 300px;
  }

  @media screen and (max-width: 400px) {
      width: 100%;
      height: 300px;
  }


  path {
    fill: none;
    stroke-width: 2px;
  }
  .axis {
    path {
      display: none;
    }
    text {
      font-size: 13px;
      fill: grey;
    }
    &.x line {
      display: none;
    }
    &.y {
      text {
        text-anchor:end;
        // transform:translate(0px,-10px);
      }
      line {
        stroke: lightgrey;
        stroke-dasharray: 3px 3px;
      }
    }
  }
}



#multiple-line-chart {
  // margin-top: 80px;
}
